.nav-bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 72px;
  background: #092349;
  box-shadow: inset 3px 3px 27.6px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
}

.nav-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: calc(72px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-bottom: calc(var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
  padding-left: 16px;
  padding-right: 16px;
}

.nav-menu-item {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #457B9D;
}

.nav-menu-item.active {
  color: #F1FAEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-menu-item:not(.active) {
  color: #457B9D;
}